body{
    background-color:  #FFFFFF;
    margin: 0;
}
.flexbox{
    width: 1440px;
    height: 1721px;

}
.header{
    display: flex;
    width: 1136px;
    height: 178px;
    padding: 0 52px 0 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 52px 0px 52px;
    color: #FFFFFF00;
    margin-top: 50px;
}
.header_text1 span{
    display: flex;  
    width: 716px;
    height:26px ;
    font-weight: 600;
    font-family: inter;
    font-size: 16px;
    line-height: 26px;
    font-family: inter;
    color: #282828;
    gap: 4px;
    margin: 0;
    justify-content: center;
    
}
.header_text1 h3{
    width: 716px;
    height: 62px;
    font-size: 54px;
    font-family: inter;
    font-weight: 600;
    text-align: center;
   line-height: 62px;
    color: #282828;
    margin: 0;
}
.header p{
    width:760px ;
    height: 70px;
    font-size:20px ;
    font-family: inter;
    font-weight: 400px;
    text-align: center;
    color: #5F6980;
}
.cards{
    width: 1336px;
    height: 908px;
    gap: 48px;
    margin-left: 50px;
    margin-top: 30px;
}
.card_colomun1{
    width: 1336px;
    height: 430px;
    display: flex;
    gap: 15px;
}
.card1 {
    width: 310px;
    height: 310px;
    display: flex; 
    flex-direction: column;
    gap: 7px;
}
.card1 img{
    width: 310px;
    height: 230px;

}
.social{
    display: flex;
    gap: 15px;
}
.social img{
    width: 36px;
    height: 36px; 
}
.card1 h3{
    width: 278px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    font-family: inter;
    line-height: 30px;
    color: #282828;
    margin: 0;
}
.card1 h4{
    width: 278px;
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    font-family: inter;
    line-height: 22px;
    color: #3E3E59;
    margin: 0;
}
.card1 p{
    width: 278px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    font-family: inter;
    line-height: 22px;
    color:#5F6980;
    margin: 0;
}
.card_text{
   margin: 0  10px 0 10px;
}
.card_colomun2{
    width: 1336px;
    height: 430px;
    display: flex;
    gap: 15px;
}
.footer {
    width: 1440px;
    height: 512px;
    background-color: #53535354;
    display: flex;
   

}
.footer_main{
    width: 1306px;
    height: 223px;
    margin-top: 100px;
    margin-left: 108px;
    display: flex;
    justify-content: space-around;
}
.footer_block1{
    width: 318px;
    height: 221px;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.footer_block1 img{
    width: 100px;
    height: 64px;
}
.footer_block1 p{
    width: 306px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    font-family: inter;
    line-height: 16.94px;
    color: #535353;
    margin: 0;
   
}
.social_footer{
    width: 104px;
    height: 24px;
    display: flex;
    gap: 5px;
}
.social_footer img{
    width: 24px;
    height: 24px;
}
.image1{
    width: 20px;
    height: 19.95px;
    margin: 2px 0 0 2px;
}
.image2{
    width: 18.75px;
    height: 18.75px;
    margin: 2.63px 0 0 2.63px;
}
.image3{
    width: 19.89px;
    height: 19.89px;
    margin: 2.05px 0 0 2.05px;
}
.websites{
    width: 136px;
    height: 223px;
    display: flex;
    flex-direction: column;
}
.websites h3{
    width: 136px;
    height: 24px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    margin-bottom: 40px;
}
.websites p{
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #535353;
}
.languages{
    width: 107px;
    height: 127.45px;
    display: flex; 
    flex-direction: column;
}
.languages h3{
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;  
}
.english{
    background-color:#054A68 ;
    width: 80px;
    height: 45px;
}
.english p{
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
    text-align: center;
}
